<footer class="footer">
    <div class="follow-us-container">
        <a class="icon-link" target="blank" href="https://t.me/ICPL_en">
            <i class="iconfont icon-telegram"></i>
        </a>
        <a class="icon-link" target="blank" href="https://github.com/dfinity">
            <i class="iconfont icon-github"></i>
        </a>
        <a class="icon-link" target="blank" href="https://twitter.com/icpleague_com">
            <i class="iconfont icon-twitter"></i>
        </a>
        <a class="icon-link" target="blank" href="https://medium.com/icp-league">
            <i class="iconfont icon-medium"></i>
        </a>
    </div>
    <div class="footer-addition-container">
        <div class="wrap">
            <div class="logo-content">
                <div class="logo">
                    <svg
                            width="133"
                            height="32"
                            viewBox="0 0 133 32"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                                fill-rule="evenodd"
                                clip-rule="evenodd"
                                d="M48.0889 4.98036V0.00146409H17.9726C17.9399 0.00146409 17.9015 0.00119139 17.8579 0.000881375C16.4459 -0.00915259 9.53277 -0.0582802 9.53277 7.83412V23.4994C9.53277 23.5181 9.53243 23.5436 9.532 23.5756C9.51841 24.5843 9.41851 32 17.3047 32H48.3925V27.1425H17.3047C16.5761 27.1425 14.451 26.6568 14.451 23.1351V8.80562C14.451 8.69141 14.4478 8.56922 14.4446 8.44125C14.4098 7.07229 14.3581 5.04108 17.9119 5.04108C21.7979 5.04108 48.0889 4.98036 48.0889 4.98036ZM0 0.00146409H5.10034V31.9393H0V0.00146409ZM82.0911 18.5813C84.6413 18.5813 89.6202 17.2455 89.6202 8.86633C89.6202 0.487209 83.5484 0.00146409 80.6339 0.00146409H52.7035V31.9393H57.6824V18.5813H82.0911ZM84.5806 9.29136C84.5806 5.16252 84.4591 5.04108 78.9945 5.04108H57.6217V13.6631H81.6661C83.2448 13.6631 84.5806 13.4202 84.5806 9.29136ZM101.278 31.9393C98.8494 31.9393 94.1133 30.3606 94.1133 24.0459V0.122901H98.9708V24.1673C98.9708 25.2603 99.4566 27.0818 101.764 27.0818H132.123V31.9393H101.278Z"
                                fill="#F9F9F9"
                        />
                    </svg>
                </div>
                <div class="tip">
                    <div class="tip tip1">
                        <span>打造互联网计算机生态全球领先社区</span>
                    </div>
                    <div class="tip tip2">
                        <span>DFINITY官方合作伙伴</span>
                    </div>
                </div>
            </div>
            <div class="addition">
                <div class="addition1">
                    <div class="name">服务</div>
                    <div class="content">
                        <div>
                            <span>论坛</span>
                        </div>
                        <div>
                            <span>博客</span>
                        </div>
                        <div>
                            <span>知识库</span>
                        </div>
                        <div>
                            <span>NNS治理</span>
                        </div>
                        <div>
                            <span>ICP开发者捐赠</span>
                        </div>
                    </div>
                </div>
                <div class="addition2">
                    <div class="name">社区</div>
                    <div class="content">
                        <div @click="comingSoon">
                            <span>Dao</span>
                        </div>
                        <div @click="comingSoon">
                            <span>加入我们</span>
                        </div>
                        <div @click="comingSoon">
                            <span>隐私协议</span>
                        </div>
                        <div @click="comingSoon">
                            <span>服务条款</span>
                        </div>
                    </div>
                </div>
                <div class="addition3">
                    <div class="name">支持</div>
                    <div class="content">
                        <div @click="comingSoon">
                            <span>帮助中心</span>
                        </div>
                        <div @click="comingSoon">
                            <span>提交申请</span>
                        </div>
                        <div @click="comingSoon">
                            <span>Bug赏金</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <p class="legal" id="year">
            Copyright © 2021 ICPL. All rights reserved
        </p>
    </div>
</footer>


<script>
    var today = new Date();
    var year = today.getFullYear();
    document.getElementById("year").innerHTML = `Copyright © ${
    2021 + (new Date().getFullYear() === 2021 ? '' : '-' + new Date().getFullYear())
            } ICPL. All rights reserved`;
</script>
